<ul class="nav nav-pills">
    <li class="active"><a href="#">Главная</a></li>
    <li><a href="{{ path('sonata_admin_dashboard') }}">Админка</a></li>
    <li><a href="#">Сообщение</a></li>
</ul>



<h1>Здесь будет главная страница!</h1>

<h2>today is: {{ time }}</h2>

